@font-face {
    font-family: JannaRegular;
    src: url('../fonts/Janna\ LT\ Regular.ttf');
}

//Variables
$color1: #630;
$color2: #fcdae8;
$jannaFont: JannaRegular;

//End Variables

h2,h1,h3,h4 {
    font-family: JannaRegular;
    color: #000;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    direction: rtl;
}

.item{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-bottom: 15px;
    
    h2{
        display: flex;
        align-items: center;
    }
    .price{
        display: inline-block;
        width: 40px;
        height: 40px;
        font-size: 1.4rem;
        background: $color2;
        border-radius: 50%;
        line-height: 40px;
        text-align: center;
        margin: 0 3px;
    }
    img{
        width: 100%;
    }
    
}
